[Desktop Entry]
Name=Zedcoin GUI
GenericName=Zedcoin-GUI
Comment=Zedcoin GUI
Exec=zedcoin-wallet-gui
Type=Application
Terminal=false
Categories=Network;Qt;Finance;Office;
Icon=org.getzedcoin.Zedcoin
StartupNotify=true
